<div class="ltn__feature-area section-bg-1 pt-70 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 section-bg-2 text-center">
                    <div class="ltn__feature-icon">
                        <span><i class="fa fa-thermometer-empty"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:ac' %}">Air Condition Service</a></h2>
                        <p>Is your air-condition not working properly, blowing hot air or has bad odour, come and will fix it for you </p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:ac' %}" class="btn btn-white btn-effect-4 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 bg-overlay-theme-90 text-color-black text-center bg-image"
                    data-bs-bg="{% static 'img/product/1.png' %}">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-disc-brake"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:brakes' %}">Brakes and Suspension</a></h2>
                        <p>Brakes saves lives, not only pedestrian but also drivers and passenger's, we are committed to offer top-notch services in brakes and Suspension</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:brakes' %}" class="btn btn-white btn-effect-3 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 section-bg-2 text-center">
                    <div class="ltn__feature-icon">
                        
                        <span><i class="fa fa-laptop"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:diagnosis' %}">Car Diagnosis</a></h2>
                        <p>Check your car regulary can identify problems earlier stage and save you time or prevent major problem, come and get your car checked for free</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:diagnosis' %}" class="btn btn-white btn-effect-3 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center pt-40 pb-25">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 section-bg-2 text-center">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-exterior"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:body' %}">Body Work</a></h2>
                        <p>Your car have dents? or the color is fading, Got your self into accindent or scratch and you want to fix your body, and re-paint, we are her for you  </p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:body' %}" class="btn btn-white btn-effect-4 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 bg-overlay-theme-90 text-color-black text-center bg-image"
                    data-bs-bg="{% static 'img/product/1.png' %}">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-car-parts-1"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:original' %}">Original Service Parts</a></h2>
                        <p>We offer a full-spectrum services and facilities for cars. We have highly skilled, trained, professional and experienced technical personnel who will give your car the best service possible.</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:original' %}" class="btn btn-white btn-effect-3 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 section-bg-2 text-center">
                    <div class="ltn__feature-icon">
                        <span><i class="fa fa-shield-alt"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:insuarance' %}">Insuarance Agent</a></h2>
                        <p>Looking for an insuarance broker?, visit or call or office and you will get outstanding insuarance deals, also advice on choosing the right insuarance service provider for your automobile</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:insuarance' %}" class="btn btn-white btn-effect-3 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>