{% extends 'pages/base.html' %}
{% load static %}
{% block contents %}
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bs-bg="{% static 'img/bg/14.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Welcome to our company</h6>
                            <h1 class="section-title white-color">Contact Us</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'page:home' %}">Home</a></li>
                                <li>Contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

        <!-- CONTACT ADDRESS AREA START -->
    <div class="ltn__contact-address-area mb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static 'img/icons/10.png' %}" alt="Icon Image">
                        </div>
                        <h3>Email Address</h3>
                        <p><a href="mailto:bk@tflgroup.co.tz">bk@tflgroup.co.tz</a> <br>
                            <a href="mailto:bk@tflgroup.co.tz">bk@tflgroup.co.tz</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static 'img/icons/11.png' %}" alt="Icon Image">
                        </div>
                        <h3>Phone Number</h3>
                        <p> <a href="tel:+255786800895">+255 786 800 895</a><br><a href="tel:+255786800890">+255 786 800 890</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static 'img/icons/12.png' %}" alt="Icon Image">
                        </div>
                        <h3>Office Address</h3>
                        <p>Plot No. 372, Mwai Kibaki Rd <br>Mikocheni B Dar es salaam Tanzania</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT ADDRESS AREA END -->

        <div class="google-map">
       
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.047420191094!2d39.25563571538735!3d-6.764072868026279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4c4a00a1ede7%3A0x7a5e9b670e82fa07!2sTFL%20MOTOR%20GROUP%20LTD!5e0!3m2!1sen!2stz!4v1633529411425!5m2!1sen!2stz" width="100%" height="75%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
{% endblock contents %}