{% extends 'pages/base.html' %}
{% load static %}

{% block contents %}
<!-- SLIDER AREA START (slider-3) -->
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
        <!-- ltn__slide-item -->
        <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3">
            <div class="ltn__slide-item-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <h1 class="slide-title animated ">We offer <br>Best car <br> for all Budgets</h1>
                                    <h6 class="slide-sub-title animated"><span>#</span> See it, Try it, Drive it
                                    </h6>
                                </div>
                                <div class="btn-wrapper animated">
                                    <a href="{% url 'buy:index' %}" class="theme-btn-1 btn btn-effect-1 text-uppercase">Buy a car</a>
                                    <a href="{% url 'sell:index' %}" class="btn btn-transparent btn-effect-3 text-uppercase">sell used car</a>
                                </div>
                            </div>
                            <div class="slide-item-img">
                                <img src="{% static 'img/slider/21.png' %}" alt="#">
                                <!-- product-pointer -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__slide-item -->
        <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3">
            <div class="ltn__slide-item-inner  text-right text-end">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <h6 class="slide-sub-title ltn__secondary-color animated">// TALENTED ENGINEER &
                                        MECHANICS</h6>
                                    <h1 class="slide-title animated ">Adnorning your <br> vehicle need</h1>
                                    <div class="slide-brief animated">
                                        <p>We offer best automobile service from service, body works, brakes and Suspension</p>
                                    </div>
                                    <div class="btn-wrapper animated">
                                        <a href="{% url 'page:original' %}" class="theme-btn-1 btn btn-effect-1">OUR SERVICES</a>
                                        <a href="{% url 'page:appointment' %}" class="btn btn-transparent btn-effect-3">MAKE APPOINTMENT</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-item-img slide-img-left">
                                <img src="{% static 'img/slider/22.png' %}" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- SLIDER AREA END -->

<!-- FEATURE AREA START ( Feature - 5) -->
<div class="ltn__feature-area section-bg-1 pt-70 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 section-bg-2 text-center">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-car-parts"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:ac' %}">Air Condition Service</a></h2>
                        <p>Is your air-condition not working properly, blowing hot air or has bad odul, came and will fix it for you </p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:ac' %}" class="btn btn-white btn-effect-4 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 bg-overlay-theme-90 text-color-black text-center bg-image"
                    data-bs-bg="{% static 'img/product/1.png' %}">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-car"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:brakes' %}">Brakes and Suspension</a></h2>
                        <p>Brakes saves lives, not only pedestrian but also drivers and passenger's, we are committed to offer top-notch services in brakes and Suspension</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:brakes' %}" class="btn btn-white btn-effect-3 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 section-bg-2 text-center">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-mechanic"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:diagnosis' %}">Car Diagnosis</a></h2>
                        <p>Check your car regulary can identify problems earlier stage and save you time or prevent major problem, come and get your car checked for free</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:diagnosis' %}" class="btn btn-white btn-effect-3 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center pt-40 pb-25">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 section-bg-2 text-center">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-car-parts"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:body' %}">Body Work</a></h2>
                        <p>Your car have dents? or the color is fading, Got your self into accindent or scratch and you want to fix your body, and re-paint, we are her for you  </p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:body' %}" class="btn btn-white btn-effect-4 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 bg-overlay-theme-90 text-color-black text-center bg-image"
                    data-bs-bg="{% static 'img/product/1.png' %}">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-car"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:original' %}">Original Service Parts</a></h2>
                        <p>We offer a full-spectrum services and facilities for cars. We have highly skilled, trained, professional and experienced technical personnel who will give your car the best service possible.</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:original' %}" class="btn btn-white btn-effect-3 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-5 section-bg-2 text-center">
                    <div class="ltn__feature-icon">
                        <span><i class="icon-mechanic"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h2><a href="{% url 'page:insuarance' %}">Insuarance</a></h2>
                        <p>Looking for an insuarance broker?, visit or call or office and you will get outstanding insuarance deals, also advice on choosing the right insuarance service provider for your automobile</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'page:insuarance' %}" class="btn btn-white btn-effect-3 btn-full-width">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GET A FREE SERVICE AREA START -->


{% if campaign %}
<div class="ltn__get-a-free-service-area get-a-free-service-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="get-a-free-service-inner bg-white text-center pt-115 pb-100">
                    <div class="call-to-img">
                        <img src="{{ campaign.image.url }}" alt="#">
                    </div>
                    <div class="call-to-action-inner-content">
                        <div class="section-title-area ltn__section-title-2 text-center">
                            <h6 class="section-subtitle ltn__secondary-color">// {{ campaign.slogan }} //</h6>
                            <h1 class="section-title">{{ campaign.campain }}<span>.</span></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="{% url 'page:appointment' %}" class="btn theme-btn-1 btn-effect-1 text-uppercase">get an
                                appointment</a>
                        </div>
                    </div>
                    <span class="call-to-circle-1"></span>
                    <span class="call-to-circle-2 fa-spin"></span>
                    <span class="call-to-bg-icon"><i class="icon-automobile"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GET A FREE SERVICE AREA END -->
{% endif %}
    

<!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-290 pb-110 plr--9">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-01.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-02.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-03.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-04.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-05.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-06.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-07.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-08.jpg' %}" alt="Brand Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND LOGO AREA END -->

{% endblock contents %}