{% extends 'pages/base.html' %}
{% load static %}

{% block contents %}
<!-- SLIDER AREA START (slider-3) -->
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
        <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-50" data-bs-bg="{% static 'img/slider/41.jpg' %}">
                <div class="ltn__slide-item-inner text-right text-end">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation">
                                                <h6 class="slide-sub-title ltn__secondary-color animated">// SBT Japan verified agent</h6>
                                                <h1 class="slide-title animated ">Buy new and used cars sourced directly from Japan</h1>
                                                <div class="slide-brief animated">
                                                    <p>Full car inspection and 12 months warranty</p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                    <a href="{% url 'buy:index' %}" class="theme-btn-1 btn btn-effect-1">Order your car Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-50" data-bs-bg="{% static 'img/slider/42.jpg' %}">
                <div class="ltn__slide-item-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation">
                                                <h1 class="slide-title animated ">Get Motorcycle and Tricycle at affordable prices</h1>
                                                <div class="slide-brief animated">
                                                    <p>We are number one delears of TVS, Bajaj, and other top brands</p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                   <a href="{% url 'buy:index' %}" class="theme-btn-1 btn btn-effect-1">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-80" data-bs-bg="{% static 'img/slider/43.jpg' %}">
                <div class="ltn__slide-item-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation">
                                                <h6 class="slide-sub-title ltn__secondary-color animated">// TALENTED ENGINEER & MECHANICS</h6>
                                                <h1 class="slide-title animated ">Body works, Service and spare parts to all makes</h1>
                                                <div class="btn-wrapper animated">
                                                    <a href="{% url 'page:service' %}" class="theme-btn-1 btn btn-effect-1">OUR SERVICES</a>
                                                    <a href="tel:+255786800895" class="btn btn-transparent btn-effect-2 white-color">CALL FOR PICKUP</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- SLIDER AREA END -->

<!-- FEATURE AREA START ( Feature - 5) -->

<!-- GET A FREE SERVICE AREA START -->

<div class="ltn__feature-area pt-115 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 section-title-style-3">
               
                    <div class="section-title-in">
                        <h1 class="section-title">TFL Motors your choice<span>.</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row  justify-content-center">
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3 text-right text-end">
                            <div class="ltn__feature-icon">
                                <span><i class="fa fa-thermometer-empty"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="{% url 'page:ac' %}">Air Condition <br>services</a></h2>
                                <p>Automotive Air Conditioning Repair We can check for leaks, replenish fluid, recharge your system, or fix a broken one before you’re stuck in the heat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3 text-right text-end">
                            <div class="ltn__feature-icon">
                            <span><i class="fa fa-laptop"></i></span>
                                
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="{% url 'page:diagnosis' %}">Computerized Car Diagnosis</a></h2>
                                <p>For more in-depth engine diagnostics and repairs, our mechanics have the know-how, experience and equipment to diagnose and fix a variety of complex engine problems.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3 text-right text-end">
                            <div class="ltn__feature-icon">
                               <span><i class="fa fa-shield-alt"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="{% url 'page:insuarance' %}">Insuarance</a></h2>
                                <p>Looking for an insurance agent? visit or call or office and you will get outstanding insurance deals, also advice on choosing the right insurance service provider for your automobile.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-banner-img text-center mb-30">
                    <img src="{% static 'img/2.png' %}" alt="#">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row  justify-content-center">
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3">
                            <div class="ltn__feature-icon">
                                <span><i class="icon-disc-brake"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="{% url 'page:brakes' %}">Brakes and Suspension</a></h2>
                                <p>Brakes save lives, not only for pedestrians but also drivers and passengers, we are committed to offer top-notch services in brakes and suspension</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3">
                            <div class="ltn__feature-icon">
                                <i class="icon-automobile"></i>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="{% url 'page:body' %}">Body Works and Painting</a></h2>
                                <p>We use factory recommended paint and base clear systems, and are fully equipped with spray booths, frame machines and all the latest and top notch technology and equipment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3">
                            <div class="ltn__feature-icon">
                                <span><i class="icon-car-parts-3"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="{% url 'page:original' %}">Original Spare parts</a></h2>
                                <p>All parts and accessories in our workshop are new and original. 100% Guarantee!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ltn__why-choose-us-area section-bg-2 pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="why-choose-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h1 class="section-title">Full car service center<span>.</span></h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="why-choose-us-feature-item">
                                    <div class="why-choose-us-feature-icon">
                                        <span><i class="fa fa-shield-alt"></i></span>
                                    </div>
                                    <div class="why-choose-us-feature-brief">
                                        <h3 class="animated fadeIn">Approved bodyshop repair</h3>
                                        <p>Since our inception, we have strived to become the preferred repairer of many of the Tanzanian insurance companies. We’ve invested in a modern workshop, equipment and personnel who are highly trained to work with the latest technology in the industry and picking up industry awards, so you are guaranteed to find a high level of service at our repair center.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="why-choose-us-feature-item">
                                    <div class="why-choose-us-feature-icon">
                                        <i class="icon-automobile"></i>
                                    </div>
                                    <div class="why-choose-us-feature-brief">
                                        <h3 class="animated fadeIn">Experts in all car makes</h3>
                                        <p>When it comes time for auto service, your vehicle will be in good hands at TFL motors group. Our technicians use genuine car parts and accessories designed to help you get the most out of your vehicle. And we'll perform every oil change, engine diagnosis and auto repair with the speed and accuracy that you deserve.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="why-choose-us-img-wrap">
                        <div class="why-choose-us-img-1 text-start">
                            <img src="{% static 'img/service/v-9.jpg' %}" alt="Image">
                        </div>
                        <div class="why-choose-us-img-2 text-end">
                            <img src="{% static '/img/service/banner-hdro.jpg' %}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if campaign %}
<div class="ltn__get-a-free-service-area get-a-free-service-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="get-a-free-service-inner bg-white text-center pt-115 pb-100">
                    <div class="call-to-img">
                        <img src="{{ campaign.image.url }}" alt="#">
                    </div>
                    <div class="call-to-action-inner-content">
                        <div class="section-title-area ltn__section-title-2 text-center">
                            <h6 class="section-subtitle ltn__secondary-color">// {{ campaign.slogan }} //</h6>
                            <h1 class="section-title">{{ campaign.campain }}<span>.</span></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="{% url 'page:appointment' %}" class="btn theme-btn-1 btn-effect-1 text-uppercase">get an
                                appointment</a>
                        </div>
                    </div>
                    <span class="call-to-circle-1"></span>
                    <span class="call-to-circle-2 fa-spin"></span>
                    <span class="call-to-bg-icon"><i class="icon-automobile"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GET A FREE SERVICE AREA END -->
{% endif %}
    

<!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-290 pb-110 plr--9">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-01.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-02.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-03.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-04.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-05.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-06.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-07.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-08.jpg' %}" alt="Brand Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND LOGO AREA END -->

{% endblock contents %}