{% extends 'pages/base.html' %}
{% load static %}

{% block contents %}
<!-- SLIDER AREA START (slider-3) -->
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
        <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-50" data-bs-bg="{% static 'img/slider/41.jpg' %}">
                <div class="ltn__slide-item-inner text-right text-end">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation">
                                                <h6 class="slide-sub-title ltn__secondary-color animated">// TALENTED ENGINEER & MECHANICS</h6>
                                                <h1 class="slide-title animated ">Professional Car <br>  Service Provide</h1>
                                                <div class="slide-brief animated">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                    <a href="service.html" class="theme-btn-1 btn btn-effect-1">OUR SERVICES</a>
                                                    <a href="about.html" class="btn btn-transparent btn-effect-2 white-color">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-50" data-bs-bg="{% static 'img/slider/42.jpg' %}">
                <div class="ltn__slide-item-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation">
                                                <h6 class="slide-sub-title ltn__secondary-color animated">// TALENTED ENGINEER & MECHANICS</h6>
                                                <h1 class="slide-title animated ">Professional Car <br>  Service Provide</h1>
                                                <div class="slide-brief animated">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                    <a href="service.html" class="theme-btn-1 btn btn-effect-1">OUR SERVICES</a>
                                                    <a href="about.html" class="btn btn-transparent btn-effect-2 white-color">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-80" data-bs-bg="{% static 'img/slider/43.jpg' %}">
                <div class="ltn__slide-item-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation">
                                                <h6 class="slide-sub-title ltn__secondary-color animated">// TALENTED ENGINEER & MECHANICS</h6>
                                                <h1 class="slide-title animated ">Professional Car <br>  Service Provide</h1>
                                                <div class="slide-brief animated">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                    <a href="service.html" class="theme-btn-1 btn btn-effect-1">OUR SERVICES</a>
                                                    <a href="about.html" class="btn btn-transparent btn-effect-2 white-color">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- SLIDER AREA END -->

<!-- FEATURE AREA START ( Feature - 5) -->

<!-- GET A FREE SERVICE AREA START -->

<div class="ltn__feature-area pt-115 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 section-title-style-3">
                    <div class="section-brief-in">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                    <div class="section-title-in">
                        <h6 class="section-subtitle ltn__secondary-color">// Why Choose Us</h6>
                        <h1 class="section-title">Get Extra Benifits<span>.</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row  justify-content-center">
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3 text-right text-end">
                            <div class="ltn__feature-icon">
                                <span><i class="fa fa-thermometer-empty"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="service-details.html">Air Condition <br>services</a></h2>
                                <p>Lorem ipsum dolor sit amet, consect
                                    icing elit, sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3 text-right text-end">
                            <div class="ltn__feature-icon">
                            <span><i class="fa fa-laptop"></i></span>
                                
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="service-details.html">Computerized Car Diagnosis</a></h2>
                                <p>Lorem ipsum dolor sit amet, consect
                                    icing elit, sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3 text-right text-end">
                            <div class="ltn__feature-icon">
                               <span><i class="fa fa-shield-alt"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="service-details.html">Insuarance</a></h2>
                                <p>Lorem ipsum dolor sit amet, consect
                                    icing elit, sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-banner-img text-center mb-30">
                    <img src="{% static 'img/2.png' %}" alt="#">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row  justify-content-center">
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3">
                            <div class="ltn__feature-icon">
                                <span><i class="icon-disc-brake"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="service-details.html">Brakes and Suspension</a></h2>
                                <p>Lorem ipsum dolor sit amet, consect
                                    icing elit, sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3">
                            <div class="ltn__feature-icon">
                                <i class="icon-automobile"></i>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="service-details.html">Body Works and Painting</a></h2>
                                <p>Lorem ipsum dolor sit amet, consect
                                    icing elit, sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-3">
                            <div class="ltn__feature-icon">
                                <span><i class="icon-car-parts-3"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h2><a href="service-details.html">Original Spare parts</a></h2>
                                <p>Lorem ipsum dolor sit amet, consect
                                    icing elit, sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ltn__why-choose-us-area section-bg-2 pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="why-choose-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">// Why Choose Us</h6>
                            <h1 class="section-title">Safety Is Our First Priority<span>.</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="why-choose-us-feature-item">
                                    <div class="why-choose-us-feature-icon">
                                        <i class="icon-car-parts-1"></i>
                                    </div>
                                    <div class="why-choose-us-feature-brief">
                                        <h3 class="animated fadeIn"><a href="service-details.html">Anytime Get Your Service</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="why-choose-us-feature-item">
                                    <div class="why-choose-us-feature-icon">
                                        <i class="icon-automobile"></i>
                                    </div>
                                    <div class="why-choose-us-feature-brief">
                                        <h3 class="animated fadeIn"><a href="service-details.html">Hardcore Repair Service</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="why-choose-us-img-wrap">
                        <div class="why-choose-us-img-1 text-start">
                            <img src="{% static '/img/service/banner-hdro.jpg' %}" alt="Image">
                        </div>
                        <div class="why-choose-us-img-2 text-end">
                            <img src="{% static '/img/service/banner-hdro.jpg' %}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if campaign %}
<div class="ltn__get-a-free-service-area get-a-free-service-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="get-a-free-service-inner bg-white text-center pt-115 pb-100">
                    <div class="call-to-img">
                        <img src="{{ campaign.image.url }}" alt="#">
                    </div>
                    <div class="call-to-action-inner-content">
                        <div class="section-title-area ltn__section-title-2 text-center">
                            <h6 class="section-subtitle ltn__secondary-color">// {{ campaign.slogan }} //</h6>
                            <h1 class="section-title">{{ campaign.campain }}<span>.</span></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="{% url 'page:appointment' %}" class="btn theme-btn-1 btn-effect-1 text-uppercase">get an
                                appointment</a>
                        </div>
                    </div>
                    <span class="call-to-circle-1"></span>
                    <span class="call-to-circle-2 fa-spin"></span>
                    <span class="call-to-bg-icon"><i class="icon-automobile"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GET A FREE SERVICE AREA END -->
{% endif %}
    

<!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-290 pb-110 plr--9">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-01.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-02.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-03.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-04.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-05.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-06.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-07.jpg' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/logo-08.jpg' %}" alt="Brand Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND LOGO AREA END -->

{% endblock contents %}