/* ----------------------------------------------------
    END
---------------------------------------------------- */
/* -------------------------
    ## Preloader Css
--------------------------- */
.pre-wrap {
    position: fixed;
    content: '';
    -webkit-transform: translate(-100%, -240%);
    -ms-transform: translate(-100%, -240%);
    transform: translate(-100%, -240%);
    font-size: 62px; }
  
  .preloader-inner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    background-color: #071c1f;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .preloader-inner .cancel-preloader {
      position: absolute;
      bottom: 30px;
      right: 30px; }
      .preloader-inner .cancel-preloader a {
        background-color: var(--white);
        font-weight: 600;
        text-transform: capitalize;
        color: var(--ltn__primary-color);
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 30px;
        display: block;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .preloader-inner .cancel-preloader a:hover {
          background-color: var(--ltn__secondary-color);
          color: var(--white); }
  
  .spinner {
    margin: 120px auto;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear; }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: var(--ltn__secondary-color);
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out; }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
  