                            <li><a href="{% url 'page:ac' %}">A/C Service</a></li>
                            <li><a href="{% url 'page:brakes' %}">Brakes Suspension</a></li>
                            <li><a href="{% url 'page:diagnosis' %}">Car Diagnosis</a></li>
                            <li><a href="{% url 'page:body' %}">Body Work</a></li>
                            <li><a href="{% url 'page:spare' %}">Original Spare Parts</a></li>
                            <li><a href="{% url 'page:original' %}">Car Service</a></li>
                            <li><a href="{% url 'page:insuarance' %}">Insuarance</a></li>