{% extends 'pages/base.html' %}
{% load static %}

{% block contents %}
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-80 bg-image"
    data-bs-bg="{% static 'img/service/air-condition.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">// Welcome to our company</h6>
                        <h1 class="section-title white-color">A/C Service</h1>
                    </div>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'page:home' %}">Home</a></li>
                            <li>Service</li>
                            <li>A/C Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- PAGE DETAILS AREA START (service-details) -->
<div class="ltn__page-details-area ltn__service-details-area mb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="ltn__page-details-inner ltn__service-details-inner">
                    <div class="ltn__blog-img">
                        <img src="{% static 'img/service/air-condition-p.jpg' %}" alt="Image">
                    </div>
                    <p> Regular servicing of your car’s air conditioning system ensures it remains in top condition when you need it. Car air conditioning repair is an essential service that all car owners should consider every few years.
Our certified technicians can perform many car air conditioning (AC) auto services from testing and regular maintenance to complete A/C system repair. At TFL we quickly diagnose the problem and provide cost-effective repair solutions. We offer repair, service, replacement, recharge, compressor and more for entire automotive AC systems heating, cooling and air exhaust filters.
</p>

                    <div class="ltn__faq-inner ltn__faq-inner-2">
                        <div id="accordion_2">
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-1" aria-expanded="false">
                                    Why is my A/C not blowing air?
                                </h6>
                                <div id="faq-item-2-1" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                       <p>There’s nothing more frustrating than weak air flow on a hot summer’s day! Unfortunately, there’s no easy diagnosis here; insufficient air flow could stem from a number of possible problems. For example, it might be an instance of mold or mildew building up in the evaporator core. 
                                       It could also be a loose hose, a bad ventilation fan, or blown seals. A qualified mechanic can isolate the root of your A/C problems.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="true"> 
                                    Why is my car A/C blowing out warm air?
                                </h6>
                                <div id="faq-item-2-2" class="collapse show" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>Warm air coming from your A/C is never a good sign. There could be a number of potential factors here, such as a clogged expansion valve; a faulty compressor clutch; a blown fuse; or even leaks within the A/C. The only way to know for sure what’s causing that warm air is to take your car to a qualified inspection for an appraisal.</p>
                                    </div>
                                </div>
                            </div>                          
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-3" aria-expanded="false">
                                   What causes an air conditioning system leak?
                                </h6>
                                <div id="faq-item-2-3" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                       <p>A leak in your A/C is bad news, without question—but what causes it? The short answer: age and moisture. Over time, the rubber hoses and seals in your A/C lose elasticity and allow Freon to escape, all while allowing moisture to enter. When moisture mixes with your A/C’s refrigerant, it creates a corrosive acid, which destroys your A/C from the inside out. This is definitely something to have analyzed and repaired by a trained mechanic.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-4" aria-expanded="false">
                                    How do you test for an A/C system leak?
                                </h6>
                                <div id="faq-item-2-4" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                       <p>If you think your A/C has a leak, there are a couple of methods you can choose to help detect leaks. One option is to use black light-enabled dyes; many refrigerants are mixed with UV dyes, which allow them to show up under a black light. There’s also the “sniffer,” a special device that can zero in on the refrigerant’s chemical compounds and detect possible leaks. Ask your service technician about these options!</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-5" aria-expanded="false">
                                    How do I stop the bad smells coming from my A/C vents?
                                </h6>
                                <div id="faq-item-2-5" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>Nobody likes an A/C that emanates bad smells! There are a couple of possible causes of A/C odors, the first being dirty, old air in the cabin filter. The second is an evaporator case that’s developed mold, which could point to more systematic problems with your unit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="need-support text-center mt-100">
                            <h2>Still need help? Reach out to support:</h2>
                            <div class="btn-wrapper mb-30">
                                <a href="{% url 'page:contact' %}" class="theme-btn-1 btn">Contact Us</a>
                            </div>
                            <h3 class="animated fadeIn"><i class="fas fa-phone"></i> +255 786 800 895</h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-area ltn__right-sidebar">
                    <!-- Menu Widget -->
                    <div class="widget-2 ltn__menu-widget ltn__menu-widget-2 text-uppercase">
                        {% include 'includes/sidebar.html' %}
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- PAGE DETAILS AREA END -->
{% endblock contents %}