{% extends 'pages/base.html' %}
{% load static %}

{% block contents %}
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image"
    data-bs-bg="{% static 'img/service/body.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">// Welcome to our company</h6>
                        <h1 class="section-title white-color">Body Work Painting</h1>
                    </div>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'page:home' %}">Home</a></li>
                            <li>Service</li>
                            <li>Body Work Painting</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- PAGE DETAILS AREA START (service-details) -->
<div class="ltn__page-details-area ltn__service-details-area mb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="ltn__page-details-inner ltn__service-details-inner">
                    <div class="ltn__blog-img">
                        <img src="{% static 'img/service/painting.jpg' %}" alt="Image">
                    </div>
                    <p> <span class="ltn__first-letter">T</span>FL has a strong reputation for producing high-quality
                        paint jobs with professional technical expertise. Cleanliness and accuracy in the preparation
                        stages, investment in quality tools (such as spray guns) and efficiency in the measurement of
                        paint are our utmost priorities.

                    </p>
                    <p>When it comes to color mixing and fading, we are the best in town. We use a Sikkens color mixing
                        bank with a weighing scale that measures the specific quantity of each color used. More
                        importantly, a spectrometer is used to obtain color and evaluate the exact shade required in
                        painting the car so there is no guesswork involved.</p>

                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-area ltn__right-sidebar">
                    <!-- Menu Widget -->
                    <div class="widget-2 ltn__menu-widget ltn__menu-widget-2 text-uppercase">
                       {% include 'includes/sidebar.html' %}
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- PAGE DETAILS AREA END -->
{% endblock contents %}