{% extends 'pages/base.html' %}
{% load static %}

{% block contents %}
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bs-bg="{% static 'img/bg/9.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Welcome to our company</h6>
                            <h1 class="section-title white-color">Car Diagnosis Machines</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'page:home' %}">Home</a></li>
                                <li>Service</li>
                                <li>Car Diagnosis Machines</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- PAGE DETAILS AREA START (service-details) -->
<div class="ltn__page-details-area ltn__service-details-area mb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="ltn__page-details-inner ltn__service-details-inner">
                    <div class="ltn__blog-img">
                        <img src="{% static 'img/service/21.jpg' %}" alt="Image">
                    </div>
                    <p> <span class="ltn__first-letter">U</span>ltimately, car diagnostic tests are beneficial tools that should be a regular practice of any maintenance checkup
                     for your car. To avoid the inconvenience of taking your vehicle to a mechanic, consider purchasing the necessary equipment and carrying out your own regular 
                     diagnostic tests to ensure that your vehicle runs as well as possible.
                     A car diagnostic test will help to ensure that your car doesn’t suffer from long-term or catastrophic damage due to malfunctioning parts or computer errors.</p>
                    
                    <h3>How Often Are Car Diagnostic Tests Needed?</h3>
                    <p>In most cases, drivers wait until they take their vehicles to a mechanic or auto body shop to perform a diagnostic. Many other drivers will wait until there is a malfunction or the “check engine” light flashes before they finally concede and take their car to their local mechanic.

Technically, car diagnostic tests are never “needed” in the traditional sense of the word. They’re simply tools that mechanics can use to accelerate the repair process by assessing issues quickly and efficiently. However, it may be a good idea to learn how to perform a simple diagnostic test yourself. With the right equipment, you can regularly test your car for issues and prevent any serious malfunctions from developing over time.

Should you decide to do this, it’s a good rule of thumb to perform a car diagnostic test once every season (quarterly). </p>

                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-area ltn__right-sidebar">
                    <!-- Menu Widget -->
                    <div class="widget-2 ltn__menu-widget ltn__menu-widget-2 text-uppercase">
                        <ul>
                            <li><a href="{% url 'page:ac' %}">A/C Service</a></li>
                            <li><a href="{% url 'page:brakes' %}">Brakes Suspension</a></li>
                            <li><a href="{% url 'page:diagnosis' %}">Car Diagnosis</a></li>
                            <li><a href="{% url 'page:body' %}">Body Work</a></li>
                            <li><a href="{% url 'page:original' %}">Original Service Parts</a></li>
                        </ul>
                    </div>
                    {% comment %} <!-- Newsletter Widget -->
                    <div class="widget ltn__search-widget ltn__newsletter-widget">
                        <h6 class="ltn__widget-sub-title">// subscribe</h6>
                        <h4 class="ltn__widget-title">Get Newsletter</h4>
                        <form action="#">
                            <input type="text" name="search" placeholder="Search">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <div class="ltn__newsletter-bg-icon">
                            <i class="fas fa-envelope-open-text"></i>
                        </div>
                    </div>
                    <!-- Banner Widget -->
                    <div class="widget ltn__banner-widget">
                        <a href="#"><img src="{% static 'img/banner/banner-1.jpg' %}" alt="Banner Image"></a>
                    </div> {% endcomment %}
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- PAGE DETAILS AREA END -->
{% endblock contents %}